*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
}

.wrap{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #333;
    color: #fff;
}






.addProductForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goodsList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.goodsItemRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    background-color: #eee;
    margin: 5px;
    color: #333;
    border-radius: 20px;
}

.goodsItemRow button {
    background-color: red;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.goodsItemRow h3 {
    width: 80px;
}